
.navbar {
    overflow: hidden;
    background-color: #0077b6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar:hover {
        background-color: #0CAA40;
        cursor: pointer;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

    .navbar a:hover {
        background-color: #ddd;
        cursor: pointer;
        color: white;
    }

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0077b6;
    color: white;
    text-align: center;
}

    .footer:hover {
        background-color: #0CAA40;
        cursor: pointer;
        -webkit-transition: background-color 2s ease-out;
        -moz-transition: background-color 2s ease-out;
        -o-transition: background-color 2s ease-out;
        transition: background-color 2s ease-out;
    }

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
